* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f6f7fbf0;
    color: #111;
    text-align: center;
    padding-top: 15px;
}


.container {
    display: grid;
    gap: 0.25%;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}



@media (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}


.card {
    background: white;
    border: 1px solid #E6E6EF;
    border-radius: 0.75rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 50ms ease, filter 2000ms ease;
    padding-top: 15px;
    height: 600px;

    width: 95%;
    
   
}

.card img {
    width: 90%;
    height: 450px;
    object-fit: cover;
    border-radius: 3%;
    
}

.Name{
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.container:hover .card:not(:hover) {
    filter: blur(2px);
    transform: scale(0.96)
}

.container .card:hover {
    transform: scale(1.1);
 
}




